.footer{
    
    background: rgb(0,47,87);
    background: linear-gradient(335deg, rgba(0,47,87,1) 0%, rgba(0,16,34,1) 100%);
    color: white;
    border-top: 1.5px solid white;
    height: 3rem;
    
}