.main__contenido{
    
    font-family: sans-serif;
   
    font-weight: bold;
    font-size: 2rem;
    border-left: 1.3px solid rgb(255, 255, 255);
    background: linear-gradient(335deg, rgb(231, 232, 241) 0%, rgb(216, 216, 216) 100%);
    grid-column: 2/6;
    grid-row: 1/6;
    color:#001527
    
}



.main__contenido--titulo{

    /* background: rgb(2,91,159);
    background: linear-gradient(335deg, rgba(2,91,159,1) 0%, rgba(0,38,70,1) 100%); */
    background: rgb(0, 7, 31);
    background: linear-gradient(335deg, rgb(0, 18, 32) 0%, rgb(0, 9, 18) 100%);
    padding: 1rem 2rem;
    color: rgb(248, 252, 255);
    font-size: 1.5rem;
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
    
    
    
    
    
    
}
.main__contenido--titulo h2{
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.textForm{
    font-size: 1rem;
}