.navBar{
    width: calc(100vw);
    height: 4rem;
    background: rgb(0,47,87);
    background: linear-gradient(335deg, rgba(0,47,87,1) 0%, rgba(0,16,34,1) 100%);
    border-bottom: 1.5px solid #ffffff;

    
    
}

.header__nav--btn{
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: rgba(241, 244, 255, 0.151);
    border-style: none;
    padding: 0.4rem 2.5rem;
    border-radius: 3px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    grid-column: 1/2;
    width: calc(20% - 2.5rem);

}
.header__nav--btn:hover{
    background-color: rgba(255, 255, 255, 0.658);
    color: rgb(0,47,87);
    font-weight: bolder;
}